<h1>Add a Song</h1>

<form action="/songs" method="POST">
    <input type="text" name="name" placeholder="Song Name" />
    <input type="text" name="artist" placeholder="Song Artist" />
    <input type="text" name="genre" placeholder="Song Genre" />
    <input type="submit" value="Save Song!" />
</form>
